@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
    display: block;
    width: 26px;
    height: 4px;
    border-radius: 12px;
    border-width: 1px;
    margin: 2px 0;
    background-color: black;
    border-color: black;
}

.product {
    border-radius: 12;
    border-width: 2;
    border-color: black;
}